#animationContainer {
  margin-top: 150px;
  text-align: center;
}

#animationBoard {
  border: 1px solid;
}

#score {
  display: flex;
  justify-content: center;
}

#blueScore {
  color: #008dda;
}

#yellowScore {
  color: #fcdc2a;
}
